<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.malfaang.e_culture_tool_a">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EculturetoolA"
        tools:targetApi="31">
        <activity
            android:name=".auth.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home_page"
            android:theme="@style/Theme.EculturetoolA.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".auth.LoginLocaleActivity"
            android:exported="false"
            android:label="@string/title_activity_login_locale" />
        <activity
            android:name=".auth.RegistrazioneLocaleActivity"
            android:exported="false"
            android:label="@string/title_activity_registrazione_locale"
            android:theme="@style/Theme.EculturetoolA.NoActionBar" />
        <activity
            android:name=".auth.FirstActivity"
            android:exported="true"
            android:label="@string/title_activity_first"
            android:theme="@style/Theme.EculturetoolA.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.RegistrazioneFireBaseActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginFireBaseActivity"
            android:exported="false" />
    </application>

</manifest>